{{define "body"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>New Account in Ichih Bank</title>
    </head>
    <body>
    <p>Hello:</p>
    <p>You recently created a new user in Ichih Bank</p>
    <p>Welcome to Ichih Bank:</p>
    <p><a href="{{.Link}}">{{.Link}}</a></p>
    <p>--<br>
        Ichih Bank Co.
    </p>
    </body>
    </html>
{{end}}